<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a:hover {
         color: #17233d;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #2b67c3;
     }
     a.btn:hover {
          background-color: #17233d;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #17233d;
     }
     a.fn-item:hover {
          color: #2b67c3;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #17233d;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }

     .post-header, .post-title, h3, h4, h3 ~ .btn { 
          margin-bottom: 15px;
     }

     h3, h4 { 
          margin-bottom: 10px;
     }

     table {
          border-collapse: collapse;
          width: 100%;
          margin-top: 10px;
     }

     th {
          /* max-height: 1px; */
          padding: 0 0 0 0 !important;
     }

     td {
          border-top: 0px solid #ccc;
          border-bottom: 0px solid #ccc;
          padding: 0.3rem;
          background-color: white !important;
     }

     @font-face {
          font-family: 'Akira';
          font-style: normal;
          font-weight: 300;
          src: url('../fonts/Akira Expanded Demo.otf');
     }

     @font-face {
          font-family: 'Monument';
          font-style: normal;
          font-weight: 300;
          src: url('../fonts/MonumentExtended-Regular.otf');
     }

     @font-face {
          font-family: 'Monument';
          font-style: normal;
          font-weight: 500;
          src: url('../fonts/MonumentExtended-Regular.otf');
     }

     no {
          font-family: Akira, "Open Sans", sans-serif;
     }

     h1, h2, h3, h4, .blog-title, .blog-description {
          font-family: Monument, "Open Sans", sans-serif;
     }

</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
